.card {
    width: 12rem;
    height: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0,26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 26px 20px;
}

.card>img {
    transform: scale(0.6);
    margin-bottom: -1rem;
}

.card>:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
}

.card>:nth-child(3) {
    font-size: 15px;
    font-weight: 600;
    color: var(--gray);

}

.c-button {
    background: #fff;
    box-shadow: 0 19px 60px rgba(0, 0, 0, 0,08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #5290FD;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .card {
        width: auto;
    }
}