.floatingDiv{
    display: flex;
    background: white;
    justify-content: space-around;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    padding: 0 28px 0 0;
    height: 5.5rem;
}

.floatingDiv>img{
    transform: scale(0.4);
}

.floatingDiv>span{
    font-weight: 600;
    font-size: 22px;
}

